<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Munkelkiste</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
        {% block headers %}{% endblock %}
    </head>
    <body style="height: 100%; background: lightblue;">
        {% block content %}{% endblock %}
    </body>
</html>