{% extends 'base.html' %}

{% block content %}
<div style="display: grid; place-items: center; height: 100%;">
    <form action="/submit" method="POST" style="text-align: center;">
        <div class="field">
            <div class="control">
                <input name="text" class="input is-large" type="text" placeholder="Man munkelt...">
            </div>
        </div>
        <div class="control">
            <input type=submit class="button is-link is-large" value="Munkel!" style="width: max-content;"></input>
        </div>
    </form>
    
</div>

{% endblock %}