{% extends 'base.html' %}

{% block headers %}
<meta http-equiv="refresh" content="3; URL=/">
{% endblock %}

{% block content %}

<div style="display: grid; place-items: center; background: lightblue; height: 100%;">
    <div style="text-align: center;">
        <h1 class="title">Es wird gemunkelt...</h1>
        <progress class="progress is-large is-info" max="100">60%</progress>
    </div>
    
</div>

{% endblock %}